body {
    background-color: black;
    color: white;
}
* {
    margin: 0;
    padding: 0;
}
button {
    background-color: black;
    color: white;
    border: none;
    width: 70px;
    height: 70px;
    background-color: #3c3c3c;
    border-radius: 50%;
    font-size: 2rem;
    margin: 5px;
}
button:active {
    border: 2px solid white;
}
#equal,#cut,#allcut{
    background-color: white;
    color: black;
}
#equal:active,#cut:active,#allcut:active {
    background-color: black;
    color: white;
}
.buttons {
    display: flex;
    width: 350px;
    height: 400px;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 0%;
}
#sum {
    font-size: 60px;
    position: fixed;
    bottom: 450px;
    right: 10px;
}
